{% extends "base.html" %}

{% block content %}
	<h2>{{ user.getNameTitle() }}</h2>
	<b>Results</b>
	<ul>
		<li><b>{{ "%02d" % user.getTotalExercisesCurrentWeek() }}</b> this week</li>
		<li><b>{{ "%02d" % user.getTotalExercisesCurrentMonth() }}</b> this month</li>
		<li><b>{{ "%02d" % user.getTotalExercises() }}</b> since the begin</li>
	</ul>
{% endblock %}

{% block footer %}
	<a class="bt-action bt-action-run" href="{{ url_for('exercises.idid') }}">
		<span>I Sweated Yesterday</span>
	</a>
{% endblock %}
