{% extends "base.html" %}

{% block content %}
	{% from "forms/macros.html" import render_field %}
	<form method="POST" action="." class="form">
		{{ form.csrf_token }}
		{{ render_field(form.email, class="input text") }}
		<input type="submit" value="Recover">
	</form>
{% endblock %}

{% block footer %}
	<a class="bt-action bt-action-home" href="{{ url_for('index') }}">
		<span>Home</span>
	</a>
	<a class="bt-action bt-action-user" href="{{ url_for('users.login') }}">
		<span>Login</span>
	</a>
{% endblock %}