{% extends "base.html" %}

{% block script %}
<script type="text/javascript">
/*
 * Response data
 */
var data_items = [
    {%- for key, value in data.iteritems() %}
    ['{{ key.title() }}', {{ value }}],
    {%- endfor %}           
];
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/static/js/chart-column.js"></script>
{% endblock %}

{% set wrapper_type = "-chart" %}

{% block logout %}<!-- remove btn logout -->{% endblock %}


{% block content %}
    <!-- Include more content here or below the chart, using Flask / Jinja. -->
    <div id="content">
        <h1>General exercises since the begin</h1>
        <div id="chart"></div>
    </div>
{% endblock %}


{% block footer %}
    <a class="bt-action bt-action-home" href="{{ url_for('index') }}">
        <span>Home</span>
    </a>
    <a class="bt-action bt-action-user" href="{{ url_for('users.login') }}">
        <span>Login</span>
    </a>
{% endblock %}