{% extends "base.html" %}

{% block script %}
{%- if data %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    // Load the Visualization API and the ColumnChart package.
    google.load('visualization', '1', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table, 
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        // Create our data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'User');
        data.addColumn('number', 'Total exercises');
        data.addRows([
                {%- for key, value in data.iteritems() %}
                ['{{ key.title() }}', {{ value }}],
                {%- endfor %}
        ]);

        // Set chart options
        var options = { 
                legend: 'none', 
                vAxis: {baseline: 0},
                colors: ['#A0D100']
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
        chart.draw(data, options);
    }
</script>
{%- endif %}
{% endblock %}

{% set wrapper_type = "-chart" %}

{% block logout %}<!-- remove btn logout -->{% endblock %}

{% block content %}
	{% from "forms/macros.html" import render_field %}
	<form method="POST" action="." class="form">
		{{ form.csrf_token }}
		{{ render_field(form.months, class="input text") }}
		<input type="submit" value="Generate Chart" class="button green">
	</form>

	{%- if data %}
	<hr />
    <h1>Total exercises I have done on week by months</h1>
    <div id="chart"></div>
    {%- endif %}
{% endblock %}

{% block footer %}
	<a class="bt-action bt-action-user" href="{{ url_for('users.index') }}">
		<span>Profile</span>
	</a>
{% endblock %}