{% extends "base.html" %}

{% block logout %}<!-- remove btn logout -->{% endblock %}

{% block content %}
	<div style="text-align:center;">
		<img src="/static/img/fitness.png" alt="Fitness">
		<br>
		<span>This is a small application to count the days 
				a user have done any kind of phisical exercise.</span>
		<br>
		<em><strong><a href="https://github.com/maxcnunes/i-sweated-yesterday" target="_blank">
			More informations on Github page</a></strong></em>
	</div>
{% endblock %}


{% block footer %}
	<a class="bt-action bt-action-user" href="{{ url_for('users.login') }}">
		<span>Login</span>
	</a>
{% endblock %}