<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<title>{% block title %}I Sweated Yesterday{% endblock %}</title>
		{% block css %}
		<link rel="stylesheet" href="/static/css/reset.css" />
		<link rel="stylesheet" href="/static/css/main.css" />
		{% endblock %}
		{% block script %}
		<script src="/static/js/main.js" type="text/javascript"></script>
		{% endblock %}
	</head>
	<body>
		<div id="wrapper{{ wrapper_type }}">
			<div id="header">
				{% block header %}
				<h1><a id="link-title-home" href="{{ url_for('index') }}">I Sweated Yesterday</a></h1>
				{% endblock %}
				
			</div>
			<div id="messages">
				{% for category, msg in get_flashed_messages(with_categories=true) %}
					<p class="messages flash-{{ category }}">{{ msg }}</p>
				{% endfor %}
			</div>
			<div id="content" class="shadow">

				{%- if session.user_id %}
			    <a class="bt-action-logout" href="{{ url_for('users.logout') }}">
					Logout
				</a>
			    {%- endif %}

				{% block content %}{% endblock %}
			</div>
			<div id="footer">{% block footer %}{% endblock %}</div>
		</div>
	</body>
</html>
